*.sdf
*.suo
*.ipch
*.db
*.opensdf
Windows/Omok_practice/Debug/
Windows/Omok_practice/Omok_practice/Debug/Drawing.obj
Windows/Omok_practice/Omok_practice/Debug/
Windows/Omok_server/Debug/
Windows/Omok_server/Omok_server/Debug/
Windows/Omok_common/Omok_common/Debug/
